footer {
  background-image: url("https://yuli016.github.io/portfolio/img/pattern2.svg");
  background-repeat: repeat-x;
  background-image: ;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  z-index: -80;
  bottom: 0;
  position: fixed;
  width: 100%;
}

a.btn.btn-outline-light.btn-floating.m-1 {
    color: yellow;
    border-color: #f9f9f9;
    background-color: white;
}
